.row{
    width: 80%;
    margin: 5% auto;
}

table{
    text-align: center;
}

td a{
    text-decoration: none;
    color: #fff;
}

td a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
    transform: scale(0.7);
}